@model CharityMS.ViewModels.DonationItemVM
<div class="editorRow">

    <span>Item Name: </span> @Html.EditorFor(m => m.ItemName)

    <span>Quantity: </span> @Html.EditorFor(m => m.Quantity)

    <button class="btn-sm deleteRow" type="button">delete</button>
</div>