
@{
    ViewData["Title"] = "UpdateStatusProve";
}
<div class="container">
    <h1>Select image: </h1>
    <br />
    <form asp-action="UpdateStatusProve" asp-controller="PickUp" method="post"
          enctype="multipart/form-data">
        <input type="hidden" name="id" value="@ViewBag.id" />
        <label>Upload multiple images from here: </label>
        <input class="form-control-file" type="File" name="images" accept="image/*" multiple />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Upload File" />
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>

