
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>Inventory Operations: </h1>
    <br />
    <br />
    <a asp-action="createTable" asp-controller="Inventory">Create Table Operation</a>
    &nbsp;&nbsp;&nbsp;
    <a asp-action="InsertInventory">Add Record to Inventory Table</a>
    &nbsp;&nbsp;&nbsp;
    <a>View Record from Inventory Table</a>
    &nbsp;&nbsp;&nbsp;
    <a asp-action="InventoryList">Search a record from Inventory Table</a>
    &nbsp;&nbsp;&nbsp;
</center>


@section Scripts{
    <script type="text/javascript">
        //trigger when loaded
        $(document).ready(function () {

            var msg = "@ViewBag.msg";

            if (msg)
                Swal.fire({
                    position: 'top-end',
                    icon: 'info',
                    text: msg,
                    showConfirmButton: false,
                    timer: 2500
                })

        })

    </script>
}