@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to Charity Management System.</p>
</div>

@section Scripts{
    <script type="text/javascript">
        //trigger when loaded
        $(document).ready(function () {
            console.log("asd")
            var successMsg = "@Html.Raw(TempData["successMsg"])";

            if (successMsg)
                Swal.fire({
                    icon: 'success',
                    title: 'Congratulations',
                    text: successMsg
                })
        })

    </script>
}